body {
  background-color: #708090;
  margin: 0;
}

#startButton {
  background-color: yellow;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
}

/* 1920 x 1080 */
/* 1366 x 768 */
#runway {
  background-color: black;
  width: 700px;
  height: 300px;
  left: calc(50vw - 350px);
  position: absolute;
}

#notationContainersOuterDiv {
  background-color: black;
  width: 700PX;
  height: 450px;
  left: calc(50vw - 350px);
  position:absolute;
  top: 300px;
}
